.ui.menu
  .header.item
    %img{src: asset_path('cat.svg'), height: '35px'}
    Умный Дом «Баст»
  %a.item{'ui-sref' => 'dashboard', 'ng-class' => '{active: $state.includes("dashboard")}'}
    %i.fa.fa-home
    Главная