<nav ng-controller='HomeCtrl'>
  <div class="row">
    <div class="col-md-10">
      <a class="pull-left navbar-brand" href="/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <ul class="nav nav-pills nav-justified">
        <li ng-class="{ active: $state.includes('dashboard.information') }">
          <a href='/dashboard/information'><i class="fa fa-dashboard"></i> {{ 'information' | i18next }}</a>
        </li>
        <li ng-class="{ active: $state.includes('dashboard.comfort') }">
          <a href='/dashboard/comfort'><i class="fa fa-paper-plane"></i> {{ 'comfort' | i18next }}</a>
        </li>
        <li ng-class="{ active: $state.includes('dashboard.security') }">
          <a href='/dashboard/security'><i class="fa fa-shield"></i> {{ 'security' | i18next }}</a>
        </li>
        <li ng-class="{ active: $state.includes('public.settings') }">
          <a href='/settings'><i class="fa fa-cog"></i> {{ 'settings' | i18next }}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-justified" id="profile">
        <li class="dropdown active">
          <a class="dropdown-toggle" href="" data-toggle='dropdown'>
            <i class="fa fa-user"></i> {{user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role='menu'>
            <li><a href="" ng-click='logout()'></a>{{ 'logout' | i18next }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
