/*
*= require vendor/bootstrap
*= require vendor/bootstrap-theme
*= require vendor/font-awesome
*= require_self
*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  padding-top: 10px;
  background-color: #eee;
  font-family: 'Roboto Slab', serif;
}

#container {
  min-height:100%;
  position:relative;
}

#content {
  padding:10px;
  padding-bottom:60px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  overflow: hidden;
  height:60px;
  padding-top: 10px;

  .row {
    .col-md-4:nth-child(1) {
      text-align: left;
    }
    .copyright {
      text-align: center;
    }
    .col-md-4:nth-child(3) {
      text-align: right;
      padding-right: 10em;
    }
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#profile {
  li.dropdown.active {
    > a {
      background: #ebebeb;
      color: #666;
    }
  }
}

h2, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif;

  .navbar-brand {
    display: block;
    line-height: 0;
    overflow: hidden;
    margin: 1px 10px 0 0;
    padding: 0;
    color: #666;
  }

  ul.nav {
    margin: 5px 0 0 0;

    li {
      a:hover {
        background: lighten(#428bca, 20%);
        transition: background-color 0.3s ease;
      }
    }
  }

  border-bottom: 1px solid #ccc;
}
