<h2>{{'information' | i18next }}</h2>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><i class="fa fa-exclamation fa-fw"></i></strong> Было зафиксировано 26 дверных звонков (<a href="">посмотреть</a>) и 3 телефонных звонка (<a href="">прослушать</a>)
    </div>
  </div>
</div>
