.basic.ui.segment
  .ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
    .ui.indeterminate.text.loader Загрузка сенсоров

  .ui.warning.message{'ng-show' => '!sensors.length && !isLoading', 'ng-cloak' => ''}
    .header
      Список сенсоров пуст.
    Проверьте правильность каких-нибудь очень важных настроек.

  .ui.horizontal.list{'ng-show' => 'sensors.length && !isLoading'}
    .item{'ng-repeat' => 'sensor in sensors'}
      .ui.card.dark
        .main.content
          .left.floated.sensor-indicator.success.animation{title: 'Связь с сенсором в порядке', 'ng-show' => 'sensor.status == "ok"'}
          .left.floated.sensor-indicator.fail.animation{title: 'Связи с сенсором нет', 'ng-show' => 'sensor.status == "fail"'}
          %a.header{'ui-sref' => 'sensors.show({sensor_id: sensor.id})'} {{sensor.name}}
          .ui.statistics
            .purple.statistic
              .value
                %i.fa.fa-flask
                {{ sensor.data[0].value | number : 0 }}˚
              .label
                %div{'am-time-ago' => 'sensor.data[0].created_at'}

-#.ui.statistics
-#  .blue.statistic
-#    .value
-#      %i.fa.fa-flask
-#      22˚
-#    .label
-#      %div{'am-time-ago' => 'sensor.data[0].created_at'}
-#  .purple.statistic
-#    .value
-#      %i.fa.fa-flask
-#      22˚
-#    .label
-#      %div{'am-time-ago' => 'sensor.data[0].created_at'}
-#  .red.statistic
-#    .value
-#      %i.fa.fa-flask
-#      22˚
-#    .label
-#      %div{'am-time-ago' => 'sensor.data[0].created_at'}