!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js{'ng-app' => 'elf', lang: 'ru'}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title система умного дома "Эльф"
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: stylesheet_path('application'), rel: "stylesheet"}
  %body
    #container
      /[if lt IE 7]
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      %header.container{'ui-view' => 'header'}
      .container#content{'ui-view' => ''}
      %footer{'ng-include' => "'partials/footer'"}
    %script{src: javascript_path('elf')}
