!!!
%html(lang='ru' ng-app='bastet')
  %head
    %meta{charset: 'utf-8'}/
    = stylesheet_link_tag 'application', media: 'all'
  %body{'ng-controller' => 'MainCtrl'}
    %header{'ng-include' => "'shared/header.html'"}
    #content.container{'ui-view' => ''}
    -#%footer{'ng-include' => "'shared/footer.html'"}

    = javascript_include_tag 'application'